h1 {
	text-align: center;
	font-family: Oswald;
	font-size: 56px;
}
h2 { 
	text-align: center;
	font-family: Oswald;
    font-size: 36px;
    font-style: italic;
 }
 .navbar {
 	background-color: #ffc0b4;
 }
   
 .jumbotron {
 	text-align: center;
 	background-color: #ffffff;
 }
 .col-sm-4 img 
 {
  width: 100%;
  margin-bottom: 10px;
}
.col-sm-4 p {
  font-size: 16px;
}